html,
body {
    overflow-x: hidden;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
    font-family: "Nanum Myeongjo", serif;
    text-align: center;
}
       
.header {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background: linear-gradient(45deg, orchid 10%, pink 100%); opacity: 0.95;
    position: fixed;
    height: 60px !important;
    overflow: hidden;
    z-index: 10;
}

.main {    
    margin: 0 auto;
    height: 100%;
    margin-top: 60px;
}

.mainInner {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
    
.mainInner div {
    display: flex;
    vertical-align: middle;
}
        
#sidebarMenu {
    height: fit-content;
    position: fixed;
    left: 0;
    width: 205px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, orchid 50%, pink 100%); opacity: 0.95;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sidebarMenuInner a img {
    padding: 8px;
}    
    
.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
        
.sidebarMenuInner li {
    list-style: none;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
       
.sidebarMenuInner .item-one, .item-two, .item-three {
    display: grid;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}
        
.sidebarMenuInner li a {
    color: white;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}

.sidebarMenuInner .item-one:hover {
    background-color: indigo; opacity: 0.7; 
    border-top-right-radius: 15px;
}

.sidebarMenuInner .item-two:hover {
    background-color: indigo; opacity: 0.7;     
}

.sidebarMenuInner .item-three:hover {
    background-color: indigo; opacity: 0.7;    
}
        
input[type="checkbox"]:checked~#sidebarMenu {
    transform: translateX(0);
}
        
input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
        
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
        
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    height: 3px;
    width: 100%;
    background-color: white;
    margin: 2px 0;
}

button {
    background-color: indigo; opacity: 0.7; 
    cursor: pointer;
    font-family: 'Nanum Myeongjo', serif;
    color: white;
    height: 59px;
    width: 130px;
    position: absolute;
    top: 0rem;
    right: 0.1rem;
    z-index: 99;
    border-radius: 30px;
}

button p {
    color: white;
    font-size: small;
}
        
h1 {
   
    color: indigo;
    text-shadow: 2px 2px 8px orchid; 
}

h3 {
    color: indigo;
    text-decoration: underline;
}
        
p {
    font-size: large;
    letter-spacing: 1px;
    color: indigo;
}
        
footer {
    position: relative;
    align-items: center;
    overflow: auto;
    background: linear-gradient(45deg, orchid 10%, pink 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
        
footer p {
    color: white;
    font-size: medium;
    letter-spacing: normal;
}

footer img {
    margin-left: auto;
    margin-right: auto;
    height: 14%;
    width: 14%;
    position: relative; 
    top: 4px;
}

.image-centered {
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    margin-bottom: 45px;
}

@media only screen and (max-width:700px) {
    .image-centered img {
       width: 100% !important;
    }
    .container {
        max-width: 70% !important;
    }
}

.mainInner {
    display: contents;
    padding: 20px;
    border-radius: 10px;
    letter-spacing: 5px;
} 

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    font-family: Georgia, serif;
    color: indigo;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    font-family: 'Nanum Myeongjo', serif;
    background-color: indigo;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
  
.container {
    max-width: 500px;
    border-radius: 20px;
    background-color: pink;
    color: indigo;
    text-align: left;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}