html,
body {
    overflow-x: hidden;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
    font-family: "Nanum Myeongjo", serif;
    text-align: center;
}       
.header {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background: linear-gradient(45deg, orchid 10%, pink 100%); opacity: 0.95;
    position: fixed;
    height: 60px !important;
    overflow: hidden;
    z-index: 10;
}
.mainInner {
    height: 60%;
    width: 100%;
}
.mainInner div {
    display: flex;
    vertical-align: middle;
}        
#sidebarMenu {
    height: fit-content;
    position: fixed;
    left: 0;
    width: 205px;
    margin-top: 60px;
    z-index: 99;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, orchid 50%, pink 100%); opacity: 0.95;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.sidebarMenuInner a img {
    padding: 8px;
}      
.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}      
.sidebarMenuInner li {
    list-style: none;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}       
.sidebarMenuInner .item-one, .item-two, .item-three {
    display: grid;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}        
.sidebarMenuInner li a {
    color: white;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}
.sidebarMenuInner .item-one:hover {
    background-color: indigo; opacity: 0.7; 
    border-top-right-radius: 15px;
}
.sidebarMenuInner .item-two:hover {
    background-color: indigo; opacity: 0.7;     
}
.sidebarMenuInner .item-three:hover {
    background-color: indigo; opacity: 0.7;    
}       
input[type="checkbox"]:checked~#sidebarMenu {
    transform: translateX(0);
}      
input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}       
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}       
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    height: 3px;
    width: 100%;
    background-color: white;
    margin: 2px 0;
}
button {
    background-color: indigo; opacity: 0.7; 
    cursor: pointer;
    font-family: 'Nanum Myeongjo', serif;
    color: white;
    height: 59px;
    width: 130px;
    position: absolute;
    top: 0rem;
    right: 0.1rem;
    z-index: 99;
    border-radius: 30px;
}
button p {
    color: white;
    font-size: small;
    letter-spacing: 1px;
}       
footer {
    overflow: auto;
    background: linear-gradient(45deg, orchid 10%, pink 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 5px;
}       
footer p {
    color: white;
    font-size: medium;
    letter-spacing: normal;
}
footer img {
    margin-left:auto;
    margin-right:auto;
    height: 15%;
    width: 15%;
    position: relative; 
    top: 4px;
}
.mainImage img {
    height: 50%;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
@media only screen and (max-width:900px) {
    .mainImage img {
       width: 100% !important;
        height: 28%;
    }
    .mainInner iframe {
        width: 90% !important
    }
}
h1 {
    letter-spacing: 5px;
    color: indigo;
    text-decoration: underline;
    text-shadow: 2px 2px 8px orchid; 
    margin-bottom: 80px;
}
.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    background-color: pink;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.flexbox-item {
    height: 200px;
    width: 350px;
    margin: 15px;
    border: 4px dotted pink;
    background-color: indigo; opacity: 0.7;
    border-radius: 20px;
    color: white;
}
.flexbox-item h3 {
    letter-spacing: 7px;
    text-shadow: 2px 2px 8px white; 
}
.flexbox-container li {
    padding: 7px;
    font-size: large;
    text-align: left;
}
a {
    color: white;
}
.mainInner iframe {
    height: 75%;
    width: 75%;
    border-radius: 20px;
    margin-top: 60px;
}